@import "mixin";
$design-width:1080px;
@mixin getWidth {
  $Width: 312px, 314px, 340px, 360px, 375px, 315px, $design-width;
  @each $size in $Width {
    @media screen and (min-width:#{$size}) {
      html {
        font-size: 100px * $size/$design-width;
      }
    }
  }
}
@include getWidth();
@font-face {
  font-family: "list";
  src:url(../image/iconfont/iconfont.woff);
}
.icon-liebiao:before {
  font-family: "list";
  content: "\e622";
  font-size:20px;
}
body{
  font-size:16px;
}
*{
  margin:0;
  padding:0;
  list-style:none;
}
a{
  text-decoration: none;
  color:#000;
}
.bg{
  background:#F0F0F0;
  .header{
    width:100%;
    height:45px;
    background:linear-gradient(rgba(0,0,0,0.7),transparent);
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    &.header-fixed{
      background:red;
    }
    div{
      float:left;
      color:#fff;
      font-size:13px;
      &.header-btn{
        width:1.84rem;
        height:100%;
        text-align:center;
        line-height:45px;
        &.header-text{
          float:right;
        }
      }
      &.header-search{
        width:7.18rem;
        height:33px;
        font-size:14px;
        box-sizing:border-box;
        position:absolute;
        top:0;
        bottom:0;
        left:1.89rem;
        margin:auto;
        input{
          width:100%;
          height:100%;
          border:0;
          outline:0;
          border-radius:2px;
          font-size:14px;
          padding-left:10px;
          color:#999;
          box-sizing:border-box;
          &::after{
            content:"";
            float:right;
          }
        }
        .search-btn{
          width:20px;
          height:30px;
          position:absolute;
          right:10px;
          bottom:0;
          top:0;
          margin:auto;
          background-image: url(../image/icon/icon1.png);
          background-position: -82px 2px;
          background-repeat:no-repeat;
          background-size:282px 31px;
        }
      }
    }

  }
  #banner{
    a{
      display:block;
      width:100%;
      height:100%;
      img{
        width:100%;
      }
    }
    .swiper-pagination{
      &.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 1px;
        width:7px;
        height:7px;
        &.swiper-pagination-bullet-active {
          opacity: 1;
          background: #fff;
          border:1px solid #666;
          width:6px;
          height:6px;
        }
      }
    }
  }
  .jifen{
    margin-top:-3px;
    height:134px;
    font-size:12px;
    background:#fff;
    .jifen-lists{
      height:71px;
      &.jifen-lists-bottom{
        height:61px;
      }
      .jifen-list{
        width:20%;
        height:100%;
        float:left;
        position:relative;
        a{
          width:56px;
          height:63px;
          display:block;
          position:absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          margin:auto;
          text-align:center;
          img{
            margin-top:3px;
            width:36px;
            height:36px;
          }
          p{
            line-height:17px;
          }
        }
      }
    }
  }
  .hot{
    height:40px;
    padding:10px 0;
    background:#fff;
    .hot-left{
      width:66px;
      height:100%;
      border-right: 1px solid #e7e7e7;
      float:left;
      img{
        height:100%;
        margin-left:7px;
      }
    }
    .volume{
      width:22px;
      height:22px;
      margin-left: 8px;
      margin-top: 10px;
    }
    #hot-texts{
      width:7.4rem;
      margin-top:-36px;
      margin-left:104px;
      height:40px;
      .swiper-wrapper{
        .swiper-slide{
          font-size:12px;
          .hot-text{
            line-height:24px;
            &.hot-text-con{
              color:red;
            }
            &.hot-text-title{
              line-height:15px;
            }
          }
        }
      }

    }
  }
  .zaoshi{
    width:100%;
    height:111px;
    padding:1px 0;
    .zaoshi-box{
      width:176px;
      height:100%;
      float:left;
      margin-right:3px;
      a{
        display:block;
        width:100%;
        height:100%;
        img{
          height:100%;
        }
      }
    }
  }
  .biqiang{
    .biqiang-top{
      width:4.5rem;
      margin:0 auto;
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      span{
        margin:15px 0 10px;
        display:block;
        width:30px;
        height:1px;
        background:#F6B7B7;
        &.left{
          float:left;
        }
        &.right{
          float:right;
        }
        &.middle{
          float:left;
          height:100%;
          width:70px;
          margin-top:6px;
          margin-bottom:5px;
          background: #F0F0F0;
          font-size:14px;
          color:red;
          img{
            width:15px;
            height:15px;
            margin-left:9px;
            margin-right:-2px;
          }
        }
      }
    }
    .biqiang-bottom{
      background:#fff;
      height:8.6rem;
      .biqiang-lists{
        height:4.3rem;
        .biqiang-list{
          width:25%;
          height:100%;
          text-align:center;
          padding:5px 0;
          box-sizing:border-box;
          float:left;
          .list{
            display:block;
            width:100%;
            height:100%;
            font-size:10px;
            img{
              width:2.3rem;
              height:2.3rem;
              margin:8px auto 0;
            }
            span{
              line-height:18px;
              color:red;
              font-size:12px;
              &.del-price{
                color:#666;
                margin-left:-3px;
              }
            }
          }
          &.biqiang-list-last{
            border-left:1px solid #F0F0F0;
          }
        }
      }
    }
  }
  .pinpai{
    .pinpai-top{
      width:5.3rem;
      margin:0 auto;
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      span{
        margin:15px 0 10px;
        display:block;
        width:30px;
        height:1px;
        background:#FFCC99;
        &.left{
          float:left;
        }
        &.right{
          float:right;
        }
        &.middle{
          float:left;
          height:100%;
          width:85px;
          margin-top:6px;
          margin-bottom:5px;
          background: #F0F0F0;
          color:#FF8000;
          font-size:14px;
          img{
            width:15px;
            height:15px;
            margin-left:9px;
            margin-right:-2px;
          }
        }
      }
    }
    .pinpai-bottom{
      background:#fff;
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      .pinpai-lists{
       .pinpai-list{
         width:50%;
         float:left;
         box-sizing:border-box;
         &.pinpai-list-last{
           border-left:1px solid #F0F0F0;
         }
         a{
           display:block;
           width:100%;
           height:100%;
           img{
             width:100%;
           }
         }
       }
      }
    }
  }
  .zixun{
    .zixun-top{
      width:5.3rem;
      margin:0 auto;
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      span{
        margin:15px 0 10px;
        display:block;
        width:30px;
        height:1px;
        background:#B4E1DC;
        &.haigou{
          background:#CAB9D9;
        }
        &.kuwan{
          background:#BECFEC;
        }
        &.left{
          float:left;
        }
        &.right{
          float:right;
        }
        &.middle{
          float:left;
          height:100%;
          width:85px;
          margin-top:6px;
          margin-bottom:5px;
          background: #F0F0F0;
          color:#009F8A;
          font-size:14px;
          &.haigou{
            color:#8828DD;
          }
          &.kuwan{
            color:#4A84E2;
          }
          img{
            width:15px;
            height:15px;
            margin-left:9px;
            margin-right:-2px;
          }
        }
      }
    }
    .zixun-bottom{
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      a{
        background:#fff;
        display:block;
        float:left;
        width:33.33%;
        text-align:center;
        box-sizing:border-box;
        &.first{
          border-right:1px solid #F0F0F0;
        }
        img{
          width:90%;
        }
      }
    }
    .last{
      width:100%;
    }
  }
  .bianjie{
    .bianjie-top{
      width:5.3rem;
      margin:0 auto;
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      span{
        margin:15px 0 10px;
        display:block;
        width:30px;
        height:1px;
        background:#BBD79F;
        &.left{
          float:left;
        }
        &.right{
          float:right;
        }
        &.middle{
          float:left;
          height:100%;
          width:85px;
          margin-top:6px;
          margin-bottom:5px;
          background: #F0F0F0;
          color:#43AF00;
          font-size:14px;
          img{
            width:15px;
            height:15px;
            margin-left:9px;
            margin-right:-2px;
          }
        }
      }
    }
    .bianjie-bottom{
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      .left{
        width:4.85rem;
        height:4.27rem;
        float:left;
        a{
          display:block;
          width:100%;
          height:100%;
          img{
            width:100%;
            height:100%;
          }
        }
      }
      .right{
        width:6.1rem;
        float:right;
        a{
          display:block;
          img{
            width:100%;
          }
         &.last{
           margin-top:-2px;
         }
        }
      }
    }
  }
  .jingxuan{
    .jingxuan-top{
      width:5.3rem;
      margin:0 auto;
      &.aishenghuo{
        width:4.7rem;
      }
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      span{
        margin:15px 0 10px;
        display:block;
        width:30px;
        height:1px;
        background:#E8BAD5;
        &.aishenghuo{
          background:#BEDBEC;
        }
        &.left{
          float:left;
        }
        &.right{
          float:right;
        }
        &.middle{
          float:left;
          height:100%;
          width:85px;
          margin-top:6px;
          margin-bottom:5px;
          background: #F0F0F0;
          color:#E24AA5;
          font-size:14px;
          &.aishenghuo{
            color:#A7b7ff;
            width:71px;
          }
          img{
            width:15px;
            height:15px;
            margin-left:9px;
            margin-right:-2px;
          }
        }
      }
    }
    .jingxuan-bottom{
      .jingxuan-bottom-top{
        &::after{
          content:"";
          display:block;
          clear:both;
        }
        a{
          display:block;
          width:25%;
          float:left;
          img{
            width:100%;
          }
        }
      }
      .jingxuan-bottom-bot{
        &::after{
          content:"";
          display:block;
          clear:both;
        }
        a{
          display:block;
          width:50%;
          float:left;
          img{
            width:100%;
          }
        }
      }
    }
  }
  .hangye{
    .hangye-top{
      width:5.3rem;
      margin:0 auto;
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      span{
        margin:15px 0 10px;
        display:block;
        width:30px;
        height:1px;
        background:#C9D0F7;
        &.left{
          float:left;
        }
        &.right{
          float:right;
        }
        &.middle{
          float:left;
          height:100%;
          width:85px;
          margin-top:6px;
          margin-bottom:5px;
          background: #F0F0F0;
          color:#5E4AE2;
          font-size:14px;
          img{
            width:15px;
            height:15px;
            margin-left:9px;
            margin-right:-2px;
          }
        }
      }
    }
    .hangye-bottom{
      .hangye-top-lists{
          height:101px;
          background:#fff;
          box-sizing:border-box;
          font-size:12px;
          &::after{
            content:"";
            display:block;
            clear:both;
          }
          .hangye-top-list{
            width:50%;
            float:left;
            a{
              display:block;
              width:100%;
              height:100%;
              &::after{
                content:"";
                display:block;
                clear:both;
              }
              .list-left{
                width:50%;
                height:100%;
                text-align:center;
                float:left;
                img{
                  width:36px;
                  margin-top:10px;
                }
                .title{
                  padding-top:10px;
                }
                .sub-title{
                  color:#666;
                  line-height:18px;
                }
              }
              .list-right{
                width:50%;
                float:left;
                text-align:center;
                img{
                  width:100%;
                }
              }
            }
          }
        }
      .hangye-bottom-lists{
        height:101px;
        background:#fff;
        box-sizing:border-box;
        font-size:12px;
        &::after{
          content:"";
          display:block;
          clear:both;
        }
        .hangye-bottom-list{
          width:25%;
          float:left;
          a{
            display:block;
            width:100%;
            height:100%;
            &::after{
              content:"";
              display:block;
              clear:both;
            }
            .list-left{
              width:100%;
              height:100%;
              text-align:center;
              float:left;
              img{
                width:75px;
                margin-top:10px;
              }
              .title{
                padding-top:10px;
              }
              .sub-title{
                color:#666;
                line-height:18px;
              }
            }
          }
        }
      }
    }
  }
  .qijian{
    .qijian-top{
      width:5.3rem;
      margin:0 auto;
      &::after{
        content:"";
        display:block;
        clear:both;
      }
      span{
        margin:15px 0 10px;
        display:block;
        width:30px;
        height:1px;
        background:#5D6A73;
        &.left{
          float:left;
        }
        &.right{
          float:right;
        }
        &.middle{
          float:left;
          height:100%;
          width:85px;
          margin-top:6px;
          margin-bottom:5px;
          background: #F0F0F0;
          color:#2f2f2f;
          font-size:14px;
          img{
            width:15px;
            height:15px;
            margin-left:9px;
            margin-right:-2px;
          }
        }
      }
    }
    .qijian-bottom{
      .qijian-top-lists{
        background:#fff;
        box-sizing:border-box;
        font-size:12px;
        &::after{
          content:"";
          display:block;
          clear:both;
        }
        .qijian-top-list{
          width:50%;
          float:left;
          a{
            display:block;
            width:100%;
            height:100%;
            padding:2px;
            box-sizing:border-box;
            &::after{
              content:"";
              display:block;
              clear:both;
            }
            .list-left{
              width:67%;
              height:100%;
              text-align:center;
              float:left;
              box-sizing:border-box;
              border-right:1px solid #F0F0F0;
              img{
                width:100%;
              }
              .title{
                padding-top:10px;
              }
              .sub-title{
                color:#666;
                line-height:18px;
              }
            }
            .list-right{
              width:33%;
              float:left;
              text-align:center;
              img{
                width:100%;
                &.img-bottom{
                  margin-top:-2px;
                }
              }
            }
            .list-bottom{
              &::after{
                content:"";
                display:block;
                clear:both;
              }
              float:left;
              img{
                width:24px;
                margin-left:3px;
                float:left;
                margin-top:7px;
              }
              .title-text{
                margin-top:7px;
                float:left;
                padding-left:5px;
                .title{
                  line-height:6px;
                }
                .sub-title{
                  line-height:25px;
                  font-size:11px;
                  color:#9b9b9b;
                }
              }
            }
          }
        }
      }
      .qijian-bottom-lists{
        height:101px;
        background:#fff;
        box-sizing:border-box;
        font-size:12px;
        &::after{
          content:"";
          display:block;
          clear:both;
        }
        .qijian-bottom-list{
          width:25%;
          float:left;
          a{
            display:block;
            width:100%;
            height:100%;
            &::after{
              content:"";
              display:block;
              clear:both;
            }
            .list-left{
              width:100%;
              height:100%;
              text-align:center;
              float:left;
              img{
                width:75px;
                margin-top:10px;
              }
              .title{
                padding-top:10px;
              }
              .sub-title{
                color:#666;
                font-size:10px;
                line-height:18px;
              }
            }
          }
        }
      }
    }
  }
  .guide-bg{
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    width:100%;
    transform:translate3d(-100%,0,0);
    &.show{
      animation:guide-show .8s ease both;
    }
    .guide{
      background:#fff;
      position:relative;
      width:90%;
      &.no-show{
        animation:guide-none .8s ease both;
      }
      .guide-title{
        height:44px;
        background:#EEEEEE;
        h3{
          font-weight: 400;
          float: left;
          width: 23%;
          text-align: center;
          line-height: 44px;
          color: #333;
          font-size: 14px;
        }
      }
      .guide-lists{
        color: #9B9B9B;
        overflow-y: auto;
        overflow-x: hidden;
        &::after{
          content:"";
          display:block;
          clear:both;
        }
        .guide-list{
          width:23%;
          height:59px;
          background:#EEEEEE;
          text-align:center;
          line-height:59px;
          font-size:14px;
          border-bottom: 1px solid #E1E1E1;
          margin-right: -1px;
          position:relative;
          .list-box{
            display:none;
            position:absolute;
            top:0;
            left:100%;
            width:335%;
            text-align:left;
            padding:10px 4%;
            box-sizing:border-box;
            .title{
              height:50px;
              line-height:50px;
            }
            .lists{
              margin-bottom:10px;
              &::after{
                content:"";
                display:block;
                clear:both;
              }
              .list{
                width:33.33%;
                float:left;
                text-align:center;
                img{
                  width:70%;
                }
                .list-title{
                  margin-top:-10px;
                  height:5px;
                  line-height:5px;
                }
              }
            }
          }
        }
      }
    }
    .guide-btn{
      width:5%;
      position:absolute;
      right:13px;
      top:8rem;
      font-size: 14px;
      color: #B5B5B5;
    }
  }
}
@keyframes guide-show {
  0%{transform:translate3d(-100%,0,0)}
  100%{transform:translate3d(0,0,0)}
}
@keyframes guide-none {
  0%{transform:translate3d(0,0,0)}
  100%{transform:translate3d(-100%,0,0)}
}


